.wrapper {
        max-width: 70rem;
        margin: 2rem auto;
        padding: 0 1rem;

        display: grid;
        grid-template-columns: 256px 1fr;
        grid-gap: 2rem;
        align-items: flex-start;
}

@media (max-width: 768px) {
        html {
                font-size: 87.5%;
                /*
                16 -> 100% 
                14 -> 87.5% x
                */
        }
        .wrapper {
                grid-template-columns: 1fr;
        }
}
        
